
.vs/One-Fam/FileContentIndex/8e36e7fe-3372-4663-b4ff-603073de467d.vsidx
.vs/One-Fam/FileContentIndex/148728ae-9b26-495c-9ff2-a152347d5ff2.vsidx
.vs/One-Fam/FileContentIndex/4f34da7e-5091-49c8-bd40-dd010401238e.vsidx
.vs/One-Fam/FileContentIndex/802bc0d4-76b3-4052-aa68-3856f72926bd.vsidx
.vs/One-Fam/FileContentIndex/c02f3bfa-7725-4a51-af3c-c922ded60989.vsidx
.vs/One-Fam/FileContentIndex/fc1c14b8-0a79-4de9-9632-6b12882b3857.vsidx
.vs/One-Fam/v17/.wsuo
.vs/One-Fam/v17/DocumentLayout.backup.json
.vs/One-Fam/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/One-Fam/FileContentIndex/ee5a9bd8-d741-4048-9898-7aa883c8f513.vsidx
