.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #e6e6e6;
    font-size: 0.9em;
    color: #333;
  }

  .main-groups {
    max-width: 400px;
    margin: auto;
    font-family: Arial, sans-serif;
    border-radius: 20px;
    overflow: hidden;
  }