.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #e6e6e6;
    font-size: 0.9em;
    color: #333;
  }

  .main-groups {
    max-width: 400px;
    margin: auto;
    font-family: Arial, sans-serif;
    border-radius: 20px;
    overflow: hidden;
  }


  /* Hide scrollbar for all modern browsers */
.overflow-y-auto {
  overflow-y: scroll; /* Enable scrolling */
}

.overflow-y-auto::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers (e.g., Chrome, Safari) */
}

.overflow-y-auto {
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

  